.je{color: olivedrab;font-weight: 800;}
.le{color: darkviolet;font-weight: 800;}
.xa{color: royalblue;font-weight: 800;}
.wi{color: dodgerblue;font-weight: 800;}
.pe{color: sienna;font-weight: 800;}
.zi{color: red;font-weight: 800;}
.group{color: blueviolet;font-weight: 800;}
.by{color: blue;font-weight: 700;}
.bf{color: purple;font-weight: 700;}
.bz{color: darkgreen;font-weight: 700;}
.ask{color: limegreen;font-weight: 700;}
.rep{color: darkred;font-weight: 700;}
.si{color: rgba(150, 15, 15, 0.856);font-weight: 700;}
.sr{color: rgb(55, 122, 230);font-weight: 700;}
.year{color: mediumorchid;font-weight: 700;}
.h0{color: lime;font-weight: 700;}
.book{color: rgb(30, 194, 30);font-weight: 700;}
.sarticle{color: rgba(15, 179, 15, 0.459);font-weight: 700;}
.va{color: olivedrab;font-weight: 700;}
.eng{color: dodgerblue;font-weight: 700;}
.talk{color: steelblue;font-weight: 700;}

.article {font-size:150%;color: mediumvioletred;font-weight: 700;}
.pu {position:absolute;top:0.6em;z-index: -10}
.punc {position:absolute;top:0.8em;color:green;z-index: -10}
.punc_overlap {position:absolute;top:0.8em;color:green;z-index: -10}
.collation_delete  {font-size:80%;color:red;position:absolute;top:-1em;}
.collation_insert {color:green;}
.svg {user-select: all;}
.tag:before {content:"<";}
.tag:after {content:">";}
.tag{color:blue;font-family: "Courier New";font-weight: 700}
.closetag:before {content:"</";}
.closetag:after {content:">";}
.closetag{color:blue;font-family: "Courier New";font-weight: 700}

.entry {color:blue;}
.head {font-weight:700;}
.head0 { color:hsl(30,60%,30%);}
.head1 { color:hsl(60,60%,30%);}
.head2 { color:hsl(90,60%,30%);}
.head3 { color:hsl(120,60%,30%);}
.head4 { color:hsl(150,60%,30%);}
.head5 { color:hsl(180,60%,30%);}
.head6 { color:hsl(210,60%,30%);}
.head7 { color:hsl(240,60%,30%);}
.head8 { color:hsl(270,60%,30%);}
.head9 { color:hsl(300,60%,30%);}
.head10 { color:hsl(330,60%,30%);}
.head11 { color:hsl(0,60%,30%);}
.head12 { color:hsl(30,60%,30%);}
.head13 { color:hsl(60,60%,30%);}
.head14 { color:hsl(90,60%,30%);}
.head15 { color:hsl(120,60%,30%);}
.head16 { color:hsl(180,60%,30%);}
.head17 { color:hsl(210,60%,30%);}
.head18 { color:hsl(240,60%,30%);}
.head19 { color:hsl(270,60%,30%);}
.head20 { color:hsl(300,60%,30%);}
.head21 { color:hsl(330,60%,30%);}
.head22 { color:hsl(0,60%,30%);}
.head23 { color:hsl(30,60%,30%);}
.head24 { color:hsl(60,60%,30%);}
.head25 { color:hsl(30,60%,30%);}
.head26 { color:hsl(60,60%,30%);}
.head27 { color:hsl(90,60%,30%);}
.head28 { color:hsl(120,60%,30%);}
.head29 { color:hsl(150,60%,30%);}
.head30 { color:hsl(180,60%,30%);}
.head31 { color:hsl(210,60%,30%);}
.head32 { color:hsl(240,60%,30%);}
.head33 { color:hsl(270,60%,30%);}
.head34 { color:hsl(300,60%,30%);}
.head35 { color:hsl(330,60%,30%);}
.head36 { color:hsl(0,60%,30%);}
.head37 { color:hsl(30,60%,30%);}
.head38 { color:hsl(60,60%,30%);}
.head39 { color:hsl(90,60%,30%);}
.head40 { color:hsl(120,60%,30%);}
.head41 { color:hsl(180,60%,30%);}
.head42 { color:hsl(210,60%,30%);}
.head43 { color:hsl(240,60%,30%);}
.head44 { color:hsl(270,60%,30%);}
.head45 { color:hsl(300,60%,30%);}
.head46 { color:hsl(330,60%,30%);}
.head47 { color:hsl(0,60%,30%);}
.head48 { color:hsl(30,60%,30%);}
.head49 { color:hsl(60,60%,30%);}

.hl {color:#7f7fff;}
.hl0 { background:hsl(0,80%,80%);font-weight: 700}
.hl1 { background:hsl(120,80%,80%);font-weight: 700}
.hl2 { background:hsl(30,80%,80%);font-weight: 700}
.hl3 { background:hsl(200,80%,90%);font-weight: 700}
.hl4 { background:hsl(260,80%,85%);font-weight: 700}
.hl5 { background:hsl(80,80%,60%);font-weight: 700}
.hl6 { background:hsl(300,80%,70%);font-weight: 700}


.kai {font-family:"Times New Roman","DFKai-SB"}
.k {font-family:"Times New Roman","DFKai-SB"}
.jin {font-family: "Times New Roman","DFKai-SB"}
.j  {font-family: "Times New Roman","DFKai-SB"}
.b {font-weight: 700}
.s {vertical-align: super;}


.kai {font-family: "Times New Roman","DFKai-SB"}
.bold {font-weight: 600}
.bilink {border-bottom:dotted 1.5px blue;}
.k {border-bottom:dotted 1.5px blue}
.origin{font-size:75%;color:blue;cursor:pointer;}
.origin:before{content:"(";}
.origin:after{content:")";}

.q {font-family:"Times New Roman","DFKai-SB"}
.p {font-size: 1em;}
.p:before {content:"　";white-space:pre;font-size:200%;}


.link {border-bottom:solid 1px blue;cursor:pointer;font-family: Arial;}

.defgroup:before {content:"注釋";white-space: pre;border: 1px solid brown;font-size:100%;border-radius:5px}
.def {font-size:0.7em;cursor:pointer;font-weight: 700;
	color:brown;font-family: Arial;}

.footnote:before {content:"▼";}
.footnote {font-size:0.7em;cursor:default;font-weight: 700;
  top:-1.1em;color:brown;font-family: Arial; padding-right:5px;
  vertical-align: super;
} /* need some padding, for mpps 3.39, 3.40 */
.footnote_ori {
 position:absolute;
}

.rubynote {vertical-align: super; color:brown;top:-1.1em;
font-size:0.7em;}
.rubynote_ori {
 position:absolute;
}
.yinshunnote {font-size:0.7em;cursor:default;font-weight: 500;
  top:-1.1em;color:blue;font-family: Arial;vertical-align: super; 
}
.yinshunnote_ori {
 position:absolute;
}

.linkpopuptitle {font-weight:700;color:white;background:lightblue;
  cursor:pointer;}
.linkpopup {border:solid 1px black;background:white;}


.notepopuptitle {font-weight:700;color:white;background:lightblue;
  cursor:pointer;}
.notepopup {border:solid 1px black;background:white;}

.notelink {font-size:0.7em;cursor:default;font-weight: 500;
	top:-1.1em;color:brown;position:absolute;font-family: Arial;
}
.notelink:before {content:"(";}
.notelink:after {content:")";}

.taisho_app:before {content:"大正校勘";}
.taisho_app{color:blue;}


.note {font-size:0.7em;cursor:pointer;font-family: Arial;
	top:-1.1em;color:red;position:absolute;}
.ptr {font-size:0.7em;cursor:pointer;font-family: Arial;
  top:-1.1em;
	color:brown;font-weight: 700;padding-right:5px;vertical-align: super;}
.ptr_ori {position: absolute;}
.ptr_popup {position:absolute;top:-1.1em;}

.highlight{background: #fff1c2}

.followbuttongroup {position:absolute;cursor:pointer;
 z-index: 300;top:-1.1em;line-height:1em}
.followbutton {font-size:0.8em;cursor:pointer;background:rgba(192,255,192,0.5);
  font-family: Arial,"Microsoft JhengHei";
  z-index: 300;font-weight: 500;color:black;padding:2px;margin:2px;
  border-radius: 3px;display:inline-block}

.inlinenote {font-size:70%;color:brown;}
.translation {color:black;font-size:80%;font-family: Serif;font-weight:500;}
.authurseg{font-weight: 700;font-family: "標楷體"}
.backlink{cursor:pointer}
.backlink:hover{background:#ffff7f}
.backlink_originate{font-weight: 700;border:1px solid blue;cursor:pointer}

.inlinesvg {user-select:all}
.salun {font-family:"Times New Roman","DFKai-SB"}
.salun.authorseg {font-weight: 700;font-family: "標楷體"}


.pb {border-top:0.5px dashed gray; text-align:right; width:93%;height:1px}
.pblabel {position:absolute;color:gray;top:-0.5em;font-size:80%;font-weight: 200;font-family: Arial}
.inlinepb {font-size:80%;font-weight: 200;font-family: Arial;color:blue;}
.inlinepb:before {content:"[";}
.inlinepb:after {content:"]";}

@media (prefers-color-scheme: dark) {
*{color: yellow;background: black;}
.je{color: darkseagreen;font-weight: 800;}
.le{color: mediumpurple;font-weight: 800;}
.xa{color: mediumturquoise;font-weight: 800;}
.wi{color: skyblue;font-weight: 800;}
.pe{color: palegoldenrod;font-weight: 800;}
.zi{color: hotpink;font-weight: 800;}
.group{color: orchid;font-weight: 800;}
.by{color: lightblue;font-weight: 700;}
.bf{color: plum;font-weight: 700;}
.bz{color: greenyellow;font-weight: 700;}
.ask{color: lime;font-weight: 700;}
.rep{color: red;font-weight: 700;}
.si{color: magenta;font-weight: 700;}
.sr{color: cyan;font-weight: 700;}
.year{color: mediumorchid;font-weight: 700;}
.h0{color: lime;font-weight: 700;}
.book{color: lightgreen;font-weight: 700;}
.sarticle{color: greenyellow;font-weight: 700;}
.va{color: yellowgreen;font-weight: 700;}
.eng{color: cyan;font-weight: 700;}
.talk{color: lightcyan;font-weight: 700;}


.article {font-size:150%;color: mediumvioletred;font-weight: 700;}
.pu {position:absolute;top:0.6em;z-index: -10}
.punc {position:absolute;top:0.8em;color:lime;z-index: -10}
.punc_overlap {position:absolute;top:0.8em;color:lime;z-index: -10}
.collation_delete  {font-size:80%;color:red;position:absolute;top:-1em;}
.collation_insert {color:lime;}
.svg {user-select: all;}
.tag:before {content:"<";}
.tag:after {content:">";}
.tag{color:LightSkyBlue;font-family: "Courier New";font-weight: 700}
.closetag:before {content:"</";}
.closetag:after {content:">";}
.closetag{color:LightSkyBlue;font-family: "Courier New";font-weight: 700}

.entry {color:LightSkyBlue;}
.head {font-weight:700;}
.head0 { color:hsl(30,60%,70%);}
.head1 { color:hsl(60,60%,70%);}
.head2 { color:hsl(90,60%,70%);}
.head3 { color:hsl(120,60%,70%);}
.head4 { color:hsl(150,60%,70%);}
.head5 { color:hsl(180,60%,70%);}
.head6 { color:hsl(210,60%,70%);}
.head7 { color:hsl(240,60%,70%);}
.head8 { color:hsl(270,60%,70%);}
.head9 { color:hsl(300,60%,70%);}
.head10 { color:hsl(330,60%,70%);}
.head11 { color:hsl(0,60%,70%);}
.head12 { color:hsl(30,60%,70%);}
.head13 { color:hsl(60,60%,70%);}
.head14 { color:hsl(90,60%,70%);}
.head15 { color:hsl(120,60%,70%);}
.head16 { color:hsl(180,60%,70%);}
.head17 { color:hsl(210,60%,70%);}
.head18 { color:hsl(240,60%,70%);}
.head19 { color:hsl(270,60%,70%);}
.head20 { color:hsl(300,60%,70%);}
.head21 { color:hsl(330,60%,70%);}
.head22 { color:hsl(0,60%,70%);}
.head23 { color:hsl(30,60%,70%);}
.head24 { color:hsl(60,60%,70%);}
.head25 { color:hsl(30,60%,70%);}
.head26 { color:hsl(60,60%,70%);}
.head27 { color:hsl(90,60%,70%);}
.head28 { color:hsl(120,60%,70%);}
.head29 { color:hsl(150,60%,70%);}
.head30 { color:hsl(180,60%,70%);}
.head31 { color:hsl(210,60%,70%);}
.head32 { color:hsl(240,60%,70%);}
.head33 { color:hsl(270,60%,70%);}
.head34 { color:hsl(300,60%,70%);}
.head35 { color:hsl(330,60%,70%);}
.head36 { color:hsl(0,60%,70%);}
.head37 { color:hsl(30,60%,70%);}
.head38 { color:hsl(60,60%,70%);}
.head39 { color:hsl(90,60%,70%);}
.head40 { color:hsl(120,60%,70%);}
.head41 { color:hsl(180,60%,70%);}
.head42 { color:hsl(210,60%,70%);}
.head43 { color:hsl(240,60%,70%);}
.head44 { color:hsl(270,60%,70%);}
.head45 { color:hsl(300,60%,70%);}
.head46 { color:hsl(330,60%,70%);}
.head47 { color:hsl(0,60%,70%);}
.head48 { color:hsl(30,60%,70%);}
.head49 { color:hsl(60,60%,70%);}

.hl {color:hsl(240,60%,70%);}
.hl0 { background:hsl(0,80%,30%);font-weight: 700}
.hl1 { background:hsl(150,80%,30%);font-weight: 700}
.hl2 { background:hsl(30,80%,50%);font-weight: 700}
.hl3 { background:hsl(200,80%,60%);font-weight: 700}
.hl4 { background:hsl(260,80%,60%);font-weight: 700}
.hl5 { background:hsl(80,80%,30%);font-weight: 700}
.hl6 { background:hsl(300,80%,60%);font-weight: 700}


.kai {font-family:"Times New Roman","DFKai-SB"}
.k {font-family:"Times New Roman","DFKai-SB"}
.jin {font-family: "Times New Roman","DFKai-SB"}
.j  {font-family: "Times New Roman","DFKai-SB"}
.b {font-weight: 700}
.s {vertical-align: super;}


.kai {font-family: "Times New Roman","DFKai-SB"}
.bold {font-weight: 600}
.bilink {border-bottom:dotted 1.5px LightSkyBlue;}
.k {border-bottom:dotted 1.5px LightSkyBlue}
.origin{font-size:75%;color:LightSkyBlue;cursor:pointer;}
.origin:before{content:"(";}
.origin:after{content:")";}

.q {font-family:"Times New Roman","DFKai-SB"}
.p {font-size: 1em;}
.p:before {content:"　";white-space:pre;font-size:200%;}


.link {border-bottom:solid 1px LightSkyBlue;cursor:pointer;font-family: Arial;}

.defgroup:before {content:"注釋";white-space: pre;border: 1px solid tan;font-size:100%;border-radius:5px}
.def {font-size:0.7em;cursor:pointer;font-weight: 700;
	color:tan;font-family: Arial;}

.footnote:before {content:"▼";}
.footnote {font-size:0.7em;cursor:default;font-weight: 700;
  top:-0.2em;line-height: 0.7em;color:magenta;font-family: Arial; padding-right:5px;
  vertical-align: super;
} /* need some padding, for mpps 3.39, 3.40 */
.footnote_ori {
 position:absolute;
}

.rubynote {vertical-align: super; color:tomato;top:-0.2em;line-height: 0.7em;
font-size:0.7em;}
.rubynote_ori {
 position:absolute;
}
.yinshunnote {font-size:0.7em;cursor:default;font-weight: 500;
  top:-1.1em;color:LightSkyBlue;font-family: Arial;vertical-align: super; 
}
.yinshunnote_ori {
 position:absolute;
}

.linkpopuptitle {font-weight:700;color:white;background:lightblue;
  cursor:pointer;}
.linkpopup {border:solid 1px beige;background:white;}


.notepopuptitle {font-weight:700;color:white;background:lightblue;
  cursor:pointer;}
.notepopup {border:solid 1px beige;background:white;}

.notelink {font-size:0.7em;cursor:default;font-weight: 500;
	top:-0.2em;color:tan;position:absolute;font-family: Arial;line-height: 0.7em;
}
.notelink:before {content:"(";}
.notelink:after {content:")";}

.taisho_app:before {content:"大正校勘";}
.taisho_app{color:LightSkyBlue;}


.note {font-size:0.7em;cursor:pointer;font-family: Arial;
	top:-1.1em;color:red;position:absolute;}
.ptr {font-size:0.7em;cursor:pointer;font-family: Arial;
  top:-1.1em;
	color:tan;font-weight: 700;padding-right:5px;vertical-align: super;}
.ptr_ori {position: absolute;}
.ptr_popup {position:absolute;top:-1.1em;}

.highlight{background: darkred}

.followbuttongroup {position:absolute;cursor:pointer;
 z-index: 300;top:-1.1em;line-height:1em}
.followbutton {font-size:0.8em;cursor:pointer;background:rgba(192,255,192,0.5);
  font-family: Arial,"Microsoft JhengHei";
  z-index: 300;font-weight: 500;color:beige;padding:2px;margin:2px;
  border-radius: 3px;display:inline-block}

.inlinenote {font-size:70%;color:tan;}
.translation {color:beige;font-size:80%;font-family: Serif;font-weight:500;}
.authurseg{font-weight: 700;font-family: "標楷體"}
.backlink{cursor:pointer}
.backlink:hover{background:#ffff7f}
.backlink_originate{font-weight: 700;border:1px solid LightSkyBlue;cursor:pointer}


.inlinesvg {user-select:all}
.salun {font-family:"Times New Roman","DFKai-SB"}
.salun.authorseg {font-weight: 700;font-family: "標楷體"}


.pb {border-top:0.5px dashed LightSlateGray; text-align:right; width:93%;height:1px}
.pblabel {position:absolute;color:LightSlateGray;top:-0.5em;font-size:80%;font-weight: 200;font-family: Arial}
}